@font-face {
  font-family: 'Chicago';
  src: url('../fonts/ChicagoFLF.ttf')  format('truetype');
}

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/arialmt.woff')  format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ARIALMTITALIC.woff')  format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ARIALBOLDMT.woff')  format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ARIALBOLDITALICMT.woff')  format('woff');
  font-weight: 700;
  font-style: italic;
}
